@import "tailwindcss";

@theme {
    --font-sans: "Geist Mono", monospace;
}

:root {
    color-scheme: light dark;
}

a,
router-link,
.link {
    @apply text-blue-700 hover:text-black underline cursor-pointer;
}

.max-w-content {
    @apply max-w-6xl px-4 mx-auto;
}

html,
body {
    @apply bg-white scroll-smooth;
    /* color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c); */
}

h2 {
    @apply scroll-mt-8;
}