DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Set the base path for your application
  RewriteBase /wc-test/

  RewriteRule ^index\.(php|html)$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # Redirect all other requests to your index.html
  RewriteRule . /wc-test/index.php [L]
</IfModule>
