<h1>Welcome back, <span>{{user.name}}</span></span>!</h1>
<ul class="people_list">
    {{#each user.people}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<h1>Hello, {{person.name}}!</h1>
<p>Your skills:</p>
<ul>
    {{#each person.skills}}
    <li>{{this}}</li>
    {{else}}
    <li>No skills listed.</li>
    {{/each}}
</ul>
{{#if person.isAdmin}}
<p>You are an admin.</p>
{{else}}
<p>You are a regular person.</p>
{{/if}}

<p>Friends:</p>
<ul>
    {{#each friends}}
    <li>{{this.name}}</li>
    {{else}}
    <li>You have no friends listed.</li>
    {{/each}}
</ul>

<slot></slot>